* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--color-background);
  color: var(--color-text);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

input,
textarea,
select {
  font: inherit;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}
